Repository princemuel/princemuel: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, js-format, rust-lint, rust-autofix, rust-format

js-lint:
  run: pnpm dlx @biomejs/biome check --fix --unsafe --assists-enabled=true --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {staged_files}

js-format:
  run: pnpm dlx prettier {staged_files} -w -u --no-error-on-unmatched-pattern --config ./.prettierrc.json --cache
  stage_fixed: true

rust-lint:
  run: cargo clippy -- --deny warnings

rust-autofix:
  run: cargo fix --allow-dirty --allow-staged

rust-format:
  run: cargo fmt --all
  stage_fixed: true

docs: update README
  README.md
Due: js-format

ci: disable some github actions
  .github/workflows/_studio.yml
  .github/workflows/contributions_snake.yml
  .github/workflows/wakatime.yml
Due: js-format

ci: disable some github actions
  README.md
Due: js-format

docs: update README
  README.md
  app/@types/globals.d.ts
  app/content/config.ts
  app/content/posts/tailwind-typography/index.md
  app/lib/collections.ts
  assets/.gitkeep
  assets/github-snake-dark.svg
  assets/github-snake.svg
  assets/wave.gif
  astro.config.ts
  config/env-schema.ts
  package.json
  pnpm-lock.yaml
Due: js-lint, js-format

chore: temporarily make the app serverless
  Cargo.lock
  Cargo.toml
  astro.config.ts
Due: js-lint

chore: remove unshallow script
  package.json
Due: js-lint

chore: add preprender variabele
  app/pages/blog/[slug]/index.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/projects/[page].astro
Due: js-lint, js-format

chore: update legal layout path
  app/pages/blog/[slug]/og.png.ts
  app/pages/legal/terms-of-service.md
Due: js-lint, js-format

chore: update legal layout path
  app/pages/legal/privacy-policy.md
Due: js-format

chore: remove vercel, rust
  .clippy.toml
  .rustfmt.toml
  .vercelignore
  Cargo.lock
  Cargo.toml
  api/health.rs
  netlify.toml
  package.json
  pnpm-lock.yaml
  rust-toolchain.toml
  source/lib.rs
  vercel.json
Due: js-lint, js-format, rust-lint, rust-autofix, rust-format

chore: remove markdoc integration
  app/content/partials/_footer.mdx
  config/components.ts
  config/env-schema.ts
  config/integrations.ts
  markdoc.config.json
  markdoc.config.mjs
  tailwind.json
Due: js-lint, js-format

ci: update editor settings, github workflows
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .lefthook/commit-msg/commitlint.sh
  .prettierignore
  .vscode/settings.json
  app/env.d.ts
  lefthook.yml
  scripts/lowercase.sh
Due: js-lint, js-format

build: update node version, select netlify serverless adapter
  .nvmrc
  astro.config.ts
Due: js-lint

chore: update Astro actions and serverless fns
  app/actions/contact.ts
  app/actions/subscribe.ts
  app/helpers/rate-limit.ts
  app/pages/api/analytics.ts
  app/pages/api/stargazers.ts
  app/pages/confetti.html.ts
  netlify/edge-functions/geolocation.ts
Due: js-lint

chore: update imports and font paths
  app/assets/fonts/lisa-italic.woff2
  app/assets/fonts/lisa-normal.woff2
  app/components/atoms/astro-font.astro
  app/components/atoms/indicator.astro
  app/components/atoms/markdown.astro
  app/components/molecules/attribution.astro
  app/layouts/meta.astro
  app/layouts/root.astro
Due: js-lint, js-format

feat(styles): migrate to TailwindCSS v4-alpha
  .postcssrc.json
  app/assets/styles/cursor.css
  app/assets/styles/global.css
  app/assets/styles/prose.css
  tailwind.config.js
Due: js-lint

style: format files
  app/actions/contact.ts
  app/actions/subscribe.ts
  app/pages/api/analytics.ts
  app/pages/api/stargazers.ts
Due: js-lint

chore: update font paths
  app/assets/styles/cursor.css
  app/assets/styles/debug.css
  app/assets/styles/fonts.css
  app/assets/styles/global.css
  app/assets/styles/prose.css
  app/components/atoms/astro-font.astro
  public/static/fonts/lisa-italic.woff2
  public/static/fonts/lisa-normal.woff2
Due: js-lint, js-format

build: migrate packageManager to npm
  .lefthook/commit-msg/commitlint.sh
  .npmrc
  lefthook.yml
  package-lock.json
  package.json
Due: js-lint, js-format

chore: update components
  app/components/atoms/astro-heart.astro
  app/components/atoms/button.astro
  app/components/atoms/codepen.astro
  app/components/atoms/codesandbox.astro
  app/components/atoms/markdown.astro
  app/components/atoms/pattern.astro
  app/components/atoms/quote.astro
  app/components/molecules/alert-box.astro
  app/components/molecules/astro-toc.astro
  app/components/molecules/blog-card.astro
  app/components/molecules/collections.astro
  app/components/molecules/copy-email.astro
  app/components/molecules/header.astro
  app/components/molecules/newsletter-form.astro
  app/components/molecules/post-divider.astro
  app/components/molecules/profile.astro
  app/components/molecules/routes-menu.astro
  app/components/molecules/routes.astro
  app/components/molecules/socials.astro
  app/components/molecules/toc-item.astro
  app/components/molecules/tweet.astro
  app/components/organisms/comments.astro
  app/components/organisms/footer.astro
  app/components/organisms/github-activity.astro
  app/components/organisms/header.astro
  app/components/templates/content-slot.astro
Due: js-lint, js-format

chore: update layouts
  app/layouts/home.astro
  app/layouts/layout.astro
  app/layouts/legal.astro
  app/layouts/meta.astro
  app/layouts/root.astro
Due: js-lint, js-format

feat: update pages & content
  app/components/molecules/routes.astro
  app/config/settings.ts
  app/content/config.ts
  app/content/pages/home.md
  app/content/posts/tailwind-typography/index.md
  app/content/projects/audiophile/index.mdx
  app/lib/collections.ts
  app/middleware.ts
  app/pages/about-me.astro
  app/pages/api/revalidate.ts
  app/pages/blog/[slug]/index.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/blog/index.astro
  app/pages/dashboard.astro
  app/pages/index.astro
  app/pages/projects/[page].astro
  app/pages/projects/index.astro
  config/env-schema.ts
  config/integrations.ts
  netlify/edge-functions/geolocation.ts
Due: js-lint, js-format

feat: migrate tailwind back to v3
  .postcssrc.json
  app/content/config.ts
  app/pages/api/revalidate.ts
  app/pages/blog/[slug]/og.png.ts
  ec.config.mjs
  pnpm-lock.yaml
  tailwind.config.js
  tailwind.json
Due: js-lint, js-format

build: update production settings for project
  .env.sample
  .github/workflows/deploy.yml
  netlify.toml
  tsconfig.json
Due: js-lint, js-format

docs: update README
  .vscode/extensions.json
  README.md
Due: js-lint, js-format

chore: remove unused fonts
  app/assets/styles/fonts.css
  app/layouts/home.astro
  config/icons.json
  package-lock.json
  package.json
  tailwind.json
Due: js-lint, js-format

feat: scaffold base layout
  app/components/atoms/container.astro
  app/components/atoms/markdown.astro
  app/components/molecules/routes.astro
  app/components/organisms/header.astro
  app/layouts/meta.astro
  app/layouts/root.astro
  app/pages/index.astro
Due: js-lint, js-format

feat: scaffold pages
  .markdownlint.jsonc
  .vscode/settings.json
  app/assets/styles/global.css
  app/components/atoms/container.astro
  app/components/atoms/indicator.astro
  app/components/atoms/markdown.astro
  app/components/molecules/routes.astro
  app/components/organisms/header.astro
  app/config/settings.ts
  app/content/pages/home.md
  app/content/pages/projects.md
  app/content/resources/routes.json
  app/layouts/root.astro
  app/pages/about-me.astro
  app/pages/articles/index.astro
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/journal/index.astro
  app/pages/projects/index.astro
  app/pages/wiki/index.astro
  config/icons.json
  tailwind.config.js
Due: js-lint, js-format

style: format files
  app/components/molecules/routes.astro
  app/components/organisms/header.astro
  app/pages/blog/index.astro
  app/pages/projects/index.astro
Due: js-lint, js-format

ci: update build script
  app/content/config.ts
  package.json
Due: js-lint

chore: temp remove middleware file
  app/middleware.ts
Due: js-lint

chore: remove unused svg assets
  app/assets/icons/checkbox-check.svg
  app/assets/icons/discord.svg
  app/assets/icons/error.svg
  app/assets/icons/facebook.svg
  app/assets/icons/github.svg
  app/assets/icons/hashnode.svg
  app/assets/icons/information.svg
  app/assets/icons/instagram.svg
  app/assets/icons/linked.svg
  app/assets/icons/linkedin-blue.svg
  app/assets/icons/linkedin.svg
  app/assets/icons/message.svg
  app/assets/icons/placeholder.svg
  app/assets/icons/radio-selected.svg
  app/assets/icons/rocket.svg
  app/assets/icons/song.svg
  app/assets/icons/success-check.svg
  app/assets/icons/twitch.svg
  app/assets/icons/twitterx.svg
  app/assets/icons/warnin.svg
  app/assets/icons/warning.svg
  app/assets/icons/x-auto.svg
  app/assets/icons/x.svg
  app/assets/icons/youtube.svg
  config/icons.json
Due: js-lint

fix: resolve icon inmport issue
  app/assets/icons/linked.svg
Due: none

ci: resolve formatting issue
  biome.jsonc
Due: none

chore: temp disable of image
  app/pages/blog/[slug]/og.png.ts
Due: js-lint

chore: temp disable edge middleware
  app/pages/blog/[slug]/og.png.ts
  astro.config.ts
Due: js-lint

chore: reolve ts issue
  .astro/icon.d.ts
  .gitignore
  .prettierrc
  .prettierrc.json
  app/layouts/meta.astro
  app/pages/blog/[slug]/index.astro
  app/pages/projects/[page].astro
  tsconfig.json
Due: js-lint, js-format

chore: resolve ts issue
  .astro/icon.d.ts
  app/pages/blog/[slug]/index.astro
Due: js-lint, js-format

Path conditions:
  js-lint: any of: *.{js,ts,mjs,jsx,tsx,json,astro}
  js-format: any of: *.{astro,md,mdx,mdoc,prisma,yml,yaml}
  rust-lint: any of: *.rs
  rust-autofix: any of: *.rs
  rust-format: any of: *.rs
