Repository princemuel/princemuel: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, js-format, rust-lint, rust-autofix, rust-format

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-push:
  commands:
    js-lint:
      glob: "*.{js,ts,mjs,jsx,tsx,json}"
      run: pnpm dlx @biomejs/biome check --write --unsafe --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {push_files}

    rust-lint:
      glob: "*.rs"
      run: cargo clippy -- --deny warnings

commit-msg:
  commands:
    check-sign-off:
      run: 'test $(grep -c "^Signed-off-by: " {1}) -lt 2'
  scripts:
    "commitlint.sh":
      runner: bash

pre-commit:
  parallel: true
  commands:
    js-lint:
      glob: "*.{js,ts,mjs,jsx,tsx,json,astro}"
      run: pnpm dlx @biomejs/biome check --fix --unsafe --assists-enabled=true --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {staged_files}

    js-format:
      glob: "*.{astro,md,mdx,mdoc,prisma,yml,yaml}"
      run: pnpm dlx prettier {staged_files} -w -u --no-error-on-unmatched-pattern --config ./.prettierrc.json --cache
      stage_fixed: true

    rust-lint:
      glob: "*.rs"
      run: cargo clippy -- --deny warnings # Ensures no warnings or lint errors in Rust code

    rust-autofix:
      glob: "*.rs"
      run: cargo fix --allow-dirty --allow-staged # Automatically fixes Rust issues

    rust-format:
      glob: "*.rs"
      run: cargo fmt --all # Formats Rust code to keep style consistent
      stage_fixed: true

post-merge:
  commands:
    js-install-deps:
      run: pnpm install

feat: update date formatter
  app/components/primitives/time.astro
  app/helpers/date-format.ts
  app/helpers/datetime.ts
Due: js-lint, js-format

feat: update journal collection and pages
  app/content/config.ts
  app/content/journal/2024/11/19-move-bitch-get-out-the-way.md
  app/content/templates/journal.md
  app/lib/loaders/github/loader.ts
  app/pages/journal/[year]/[month]/[slug].astro
  app/pages/journal/index.astro
  app/schema/content.ts
  app/utilities/strings.ts
Due: js-lint, js-format

feat(astro)!: enabel experimental svg component, image responsiveness
  .vscode/settings.json
  astro.config.ts
Due: js-lint

ci: add commit blame ignore
  .git-blame-ignore-revs
Due: none

chore: remove unused packages
  package-lock.json
  package.json
Due: js-lint

feat: update feeds
  .astro/icon.d.ts
  app/pages/blog/feed.xml.ts
  app/pages/changelog.xml.ts
  app/pages/journal/feed.xml.ts
  app/pages/rss.xml.ts
  app/utilities/time.ts
Due: js-lint

feat: update feeds
  app/pages/blog/feed.xml.ts
  app/pages/changelog.xml.ts
  app/pages/journal/feed.xml.ts
  app/pages/rss.xml.ts
Due: js-lint

feat: update feeds
  .astro/icon.d.ts
  app/components/primitives/pattern.astro
  app/components/shared/attribution.astro
  app/components/shared/content-header.astro
  app/content/config.ts
  app/content/templates/project.md
  app/pages/blog/[slug]/index.astro
  app/pages/journal/[year]/[month]/[slug].astro
  app/pages/journal/feed.xml.ts
  app/pages/projects/[...page].astro
  app/pages/rss.xml.ts
  config/icons.json
Due: js-lint, js-format

chore: remove unused files since project is migrated
  netlify.toml
Due: none

docs: update README
  README.md
Due: js-format

chore: remove unused files
  .astro/icon.d.ts
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/suggestion.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/wakatime.yml
  .vscode/code-snippets.code-snippets
Due: js-lint, js-format
