Repository princemuel/princemuel: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, js-format, rust-lint, rust-autofix, rust-format

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-push:
  commands:
    js-lint:
      glob: "*.{js,ts,mjs,jsx,tsx,json}"
      run: pnpm dlx @biomejs/biome check --write --unsafe --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {push_files}

    rust-lint:
      glob: "*.rs"
      run: cargo clippy -- --deny warnings

commit-msg:
  commands:
    check-sign-off:
      run: 'test $(grep -c "^Signed-off-by: " {1}) -lt 2'
  scripts:
    "commitlint.sh":
      runner: bash

pre-commit:
  parallel: true
  commands:
    js-lint:
      glob: "*.{js,ts,mjs,jsx,tsx,json,astro}"
      run: pnpm dlx @biomejs/biome check --fix --unsafe --assists-enabled=true --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {staged_files}

    js-format:
      glob: "*.{astro,md,mdx,mdoc,prisma,yml,yaml}"
      run: pnpm dlx prettier {staged_files} -w -u --no-error-on-unmatched-pattern --config ./.prettierrc.json --cache
      stage_fixed: true

    rust-lint:
      glob: "*.rs"
      run: cargo clippy -- --deny warnings # Ensures no warnings or lint errors in Rust code

    rust-autofix:
      glob: "*.rs"
      run: cargo fix --allow-dirty --allow-staged # Automatically fixes Rust issues

    rust-format:
      glob: "*.rs"
      run: cargo fmt --all # Formats Rust code to keep style consistent
      stage_fixed: true

post-merge:
  commands:
    js-install-deps:
      run: pnpm install

chore: resolve ts issue
  app/config/clients.ts
  app/pages/blog/[slug]/index.astro
Due: js-lint, js-format

build: update build script
  package.json
Due: js-lint

chore: bump deps to latest
  .astro/icon.d.ts
  package-lock.json
  package.json
Due: js-lint

style: format assets
  app/components/atoms/link.astro
  app/content/pages/journals.md
  app/layouts/meta.astro
  app/pages/blog/[slug]/index.astro
  app/pages/changelog.xml.ts
  app/pages/journal/feed.xml.ts
  app/pages/journal/index.astro
  app/pages/rss.xml.ts
Due: js-lint, js-format

feat: add content collection templates
  app/content/resources/socials.json
  app/content/templates/changelog.md
  app/content/templates/journal.md
  app/content/templates/post.md
  app/content/templates/project.md
Due: js-lint, js-format

chore: update mono fonts to cascadia code
  app/assets/fonts/lisa-normal.woff2
  app/assets/styles/fonts.css
  app/layouts/meta.astro
  app/layouts/root.astro
  config/fonts.mjs
  config/integrations.ts
  public/static/fonts/cascadia.woff2
  public/static/fonts/lisa-normal.woff2
  tailwind.json
Due: js-lint, js-format

chore: update content collections
  .astro/icon.d.ts
  app/content/config.ts
  app/content/pages/about-me.md
  app/content/pages/home.md
  app/pages/blog/[slug]/index.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/legal/terms-of-service.md
  app/pages/projects/[page].astro
  app/pages/projects/[slug].astro
  app/schema/content.ts
  app/schema/jsonld.ts
  config/components.ts
Due: js-lint, js-format

feat: update helper fns
  .astro/icon.d.ts
  app/actions/contact.ts
  app/actions/subscribe.ts
  app/helpers/rate-limit.ts
  app/helpers/unform.ts
  app/pages/api/stargazers.ts
Due: js-lint

feat: update pages
  app/actions/contact.ts
  app/components/atoms/main.astro
  app/components/atoms/skip-link.astro
  app/components/molecules/attribution.astro
  app/components/organisms/footer.astro
  app/components/organisms/header.astro
  app/components/templates/content-slot.astro
  app/components/templates/site-status.astro
  app/layouts/legal.astro
  app/pages/about-me.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/index.astro
Due: js-lint, js-format

feat: update pages
  app/actions/subscribe.ts
  app/pages/legal/privacy-policy.md
  app/pages/legal/terms-of-service.md
  ec.config.mjs
Due: js-lint, js-format

feat: update feed templates
  app/pages/blog/feed.xml.ts
  app/pages/rss.xml.ts
Due: js-lint

feat: move pages docs to routes dir in content collections
  app/content/routes/about-me.md
  app/content/routes/blog.md
  app/content/routes/home.md
  app/content/routes/journals.md
  app/content/routes/offline.md
  app/content/routes/projects.md
  app/pages/about-me.astro
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/journal/index.astro
  app/pages/offline.astro
  app/pages/projects/index.astro
Due: js-lint, js-format

chore: undo move pages dir in content collections
  app/config/page-data.ts
  app/content/pages/about-me.md
  app/content/pages/accessibility.md
  app/content/pages/blog.md
  app/content/pages/home.md
  app/content/pages/journals.md
  app/content/pages/offline.md
  app/content/pages/projects.md
  app/pages/about-me.astro
  app/pages/accessibility.astro
  app/pages/blog/index.astro
  app/pages/journal/index.astro
  app/pages/offline.astro
  app/pages/projects/index.astro
Due: js-lint, js-format

feat: add license page
  LICENSE.md
  app/components/atoms/markdown.astro
  app/content/projects/unocalc/index.mdx
  app/pages/wiki/license.astro
Due: js-lint, js-format

feat: add offline, 404, accesibility pages
  app/content/pages/404.md
  app/content/pages/accessibility.md
  app/pages/404.astro
  app/pages/wiki/accessibility.astro
Due: js-lint, js-format

feat: update site footer
  app/components/molecules/attribution.astro
  app/components/organisms/footer.astro
  app/content/resources/socials.json
  app/layouts/layout.astro
Due: js-lint, js-format

feat: update resource routes
  app/pages/changelog.xml.ts
  app/pages/humans.txt.ts
  app/pages/journal/feed.xml.ts
  app/pages/robots.txt.ts
  app/pages/rss.xml.ts
Due: js-lint

feat: scaffold page descriptions
  app/pages/blog/index.astro
  app/pages/projects/index.astro
Due: js-lint, js-format

chore: bump deps to latest
  package-lock.json
  package.json
Due: js-lint

feat: scaffold projects page pagination
  app/config/config.json
  app/pages/confetti.html.ts
  app/pages/projects/[...page].astro
Due: js-lint, js-format

feat: add script
  scripts/convert-to-webm
Due: none

feat: update 404 page
  app/content/pages/404.md
  app/pages/.well-known/webfinger.ts
Due: js-lint, js-format

feat: update .well-jkown
  .markdownlint.jsonc
  app/pages/.well-known/webfinger.ts
  biome.jsonc
Due: js-lint

ci: update netlify config
  netlify.toml
Due: none

feat: scaffold email templates
  app/actions/contact.ts
  app/actions/subscribe.ts
  app/components/templates/email-admin.astro
  app/components/templates/email-user.astro
Due: js-lint, js-format

feat: scaffold github loader
  app/content/config.ts
  app/lib/loaders/github/loader.ts
  app/lib/loaders/github/processor.ts
  config/remark-rehype.ts
Due: js-lint

ci: add permissions policy
  netlify.toml
Due: none

feat: add updates
  app/components/atoms/text.astro
  app/components/organisms/footer.astro
  app/layouts/meta.astro
  prisma/sql/schema.sql
Due: js-lint, js-format

chore: update base url
  .github/FUNDING.yml
  .github/workflows/_studio.yml
  .github/workflows/blog_posts.yml
  docs/CONTRIBUTORS.txt
Due: js-format

feat: update content schema, add mock loader
  app/content/config.ts
  app/content/pages/journals.md
  app/content/templates/journal.md
  app/content/templates/post.md
  app/content/templates/project.md
  app/pages/blog/[slug]/index.astro
  app/schema/content.ts
  package-lock.json
  package.json
Due: js-lint, js-format

ci: update editor config
  .astro/icon.d.ts
  .vscode/extensions.json
  .vscode/settings.json
Due: js-lint

feat: format files, update journals pages
  .astro/icon.d.ts
  app/assets/styles/global.css
  app/components/atoms/markdown.astro
  app/components/atoms/time.astro
  app/components/molecules/attribution.astro
  app/helpers/datetime.ts
  app/layouts/legal.astro
  app/pages/404.astro
  app/pages/about-me.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/journal/[year]/[month]/[day]/[slug].astro
  app/pages/journal/index.astro
  app/pages/offline.astro
  app/pages/projects/[...page].astro
  app/pages/wiki/accessibility.astro
  app/pages/wiki/license.astro
Due: js-lint, js-format

style: format files
  app/pages/journal/index.astro
Due: js-lint, js-format

feat: update prop attributes
  app/components/atoms/copyright.astro
  app/components/atoms/link.astro
  app/components/atoms/markdown.astro
  app/components/atoms/pattern.astro
  app/components/atoms/skeleton.astro
  app/components/atoms/text.astro
  app/components/organisms/footer.astro
Due: js-lint, js-format

chore(deps): bump Astro related packages to latest
  package-lock.json
  package.json
Due: js-lint

chore: rearrange components folder structure
  app/components/content/markdown.astro
  app/components/layout/article.astro
  app/components/layout/container.astro
  app/components/layout/content-slot.astro
  app/components/layout/footer.astro
  app/components/layout/header.astro
  app/components/layout/routes.astro
  app/components/layout/site-status.astro
  app/components/primitives/figure.astro
  app/components/primitives/image.astro
  app/components/primitives/link.astro
  app/components/primitives/navlink.astro
  app/components/primitives/pattern.astro
  app/components/primitives/skeleton.astro
  app/components/primitives/time.astro
  app/components/shared/attribution.astro
  app/components/shared/content-header.astro
  app/components/shared/copyright.astro
  app/components/shared/skip-link.astro
  app/components/shared/table-of-contents.astro
  app/components/widgets/astro-theme.astro
  app/components/widgets/reload-prompt.astro
  app/components/widgets/theme-provider.astro
  app/layouts/layout.astro
  app/layouts/legal.astro
  app/layouts/meta.astro
  app/layouts/root.astro
  app/pages/404.astro
  app/pages/about-me.astro
  app/pages/blog/[slug]/index.astro
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/journal/[year]/[month]/[day]/[slug].astro
  app/pages/journal/index.astro
  app/pages/offline.astro
  app/pages/projects/[...page].astro
  app/pages/projects/[slug]/index.astro
  app/pages/wiki/accessibility.astro
  app/pages/wiki/license.astro
  config/components.ts
Due: js-lint, js-format
